body {
    margin: 5px;
    padding-bottom: 70px;
    background-color: #E0FFFF !important;
 }

html, body {
    font-family: 'Montserrat', sans-serif;
 
}

html {
    scroll-behavior: smooth !important;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 2px;
}

h2 {
    font-weight: 400;
    font-size: 4rem;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    color: #191970;
}

h5 {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #8FBC8F;
    border-color: #8FBC8F;
    padding: 5px 30px;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus {
    background-color: #8FBC8F !important;
    border-color: #8FBC8F !important;
}

.title-underline{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #e0ffff, #191970, #e0ffff);
    max-width: 350px;
    margin-bottom: 50px;
}

.fragment {
    padding: 100px 0;
}

.fragment-one {
    background-color: #E0FFFF;
    color: #8FBC8F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-one h1 {
    margin: 50px 0;
}

.fragment-one h3 {
    margin: 50px 0;
}

.fragment-one p, .fragment-two p {
    margin-bottom: 0;
}

.fragment-one i {
    margin-bottom:30px;
}

.fragment-two {
    background-color: #F5FFFA;
    color: #556B2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fragment-two h5 {
    margin: 50px 0;
    font-weight: 300;
    line-height: 1.3;
}

.fragment-two p, .fragment-two i {
    color: #8FBC8F
}

.fragment-three {
    background-color: #E0FFFF;
    color: #191970;
}

.fragment-three .carousel {
    max-width: 800px;
}

.fragment-three .carousel-inner>.active {
    height: 300px;
  }

.fragment-three .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fragment-three .carousel-item {
    height: 300px;
    overflow: hidden;
    width: 100%;
    }
    
.fragment-three .carousel-item img {
    width: 100%;
    }

.fragment-three .carousel-caption {
    background-color: #111;
    text-align: center;
    transform: translateY(-70%);
    position: absolute;
    color: #999;
}

.fragment-three .custom-indicator {
    background-color: #556B2F !important;
}

.fragment-four {
    background-color: #F5FFFA !important;
    color: #191970;
}

.fragment-four i {
    color: #556B2F;
}

.fragment-four .labels {
    color: #657b83;
    margin: 10px;
    text-align: center;
    min-width: 70%;
    background: #F5FFFA
}

.fragment-four .tech {
    padding: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
    margin: 0;
}
.fragment-four .tech:hover {
    transition-duration: 0.3s;
    background: #E0FFFF
}


.fragment-five {
    background-color: #E0FFFF;
    padding: 50px;
    color: #556B2F;
    text-align: center; 
}


.fragment-five h5 {
    font-weight: 300;
    line-height: 1.3;
}

.fragment-five .credential {
    color: #999;
    margin-bottom: 50px;
    font-weight: 300;
}

.fragment-six {
    padding: 20px;
}

.fragment-six h6 {
    color: #8FBC8F;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.fragment-six .social-icon {
    color: #191970;
    font-size: 1.2rem;
    margin-right: 15px;
    margin-bottom: 20px;
}

.fragment-six .copyright {
    margin: 10px 0;
    font-size: 0.8rem;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
   }

a:hover, a:active, a:hover p, a:hover i {
    color: #C0C0C0 !important;
    text-decoration: none;
   }